<div class="row">
      <div class="thumbnail">
        <img src="{{c.foto}}" alt="casa">
        <div class="caption">
          <h5>{{c.nombre}} {{c.precio}}</h5>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><span>{{c.direccion}}</span>
          <hr>
          <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span><span>Habitaciones: {{c.habitaciones}}</span>
          <hr>
          <span>Servicios:</span>

          <ul>
            <li *ngFor="let servicio of c.servicios">
              <input type="checkbox" [checked]="servicio.disponible"> {{servicio.nombre}}
            </li>
          </ul>
        

         
        </div>
      </div>
  </div>