<div class="row">
      <div class="thumbnail">
        <img src="{{c.foto}}" alt="casa">
        <div class="caption">
          <h5>{{c.nombre}} {{c.precio}}</h5>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><span>{{c.direccion}}</span>
          <hr>
          <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span><span>Habitaciones: {{c.habitaciones}}</span>
          <hr>
          <span>Servicios:</span>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="tv" id="tv">
              <label class="form-check-label" for="defaultCheck1">
                TV
              </label>
              <input class="form-check-input" type="checkbox" value="wc" id="wc">
              <label class="form-check-label" for="defaultCheck2">
               WC
              </label>
          </div>
          <div class="form-check">
                <input class="form-check-input" type="checkbox" value="cocina" id="cocina">
                <label class="form-check-label" for="defaultCheck1">
                  Cocina
                </label>
                <input class="form-check-input" type="checkbox" value="jardin" id="jardin">
                <label class="form-check-label" for="defaultCheck2">
                  Jardín
                </label>
            </div>
          
        </div>
      </div>
  </div>